body{
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin :0;
}

.container{
  width: 500px;
  margin: 0 auto;
  margin-top: 260px;               
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.time-box {
    width: 22%;
    background: blue;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
}

.number {
    font-size: 32px;
    font-weight: bold;
}

.label {
    font-size: 14px;
}


.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;           
}

.popup{
  position: absolute;      
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.popup button {
    margin-top: 15px;
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;    
    border-radius: 4px;
}
